
/*-------------------------------*/
/* ThePurpleAndRed - Style Sheet */
/*-------------------------------*/

/* Custom Adds */
.responsive {
    width: auto;
    height: 100%;
}

.nav-avatar {
    height: 35px;
    width: 35px;
    border: 1px solid white
}

.picSpin {
    outline: 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.picSpin:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* Fixed Headers for Tables */

.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th,
.fixed_header td {
    width: 600px;
}