/*-------------------------------*/
/* ThePurpleAndRed - Style Sheet */
/*-------------------------------*/

/* Custom Adds */
.responsive {
    width: auto;
    height: 100%;
}

.post-avatar {
    width: 60px;
}

.picSpin {
    outline: 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.picSpin:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* Fixed Headers for Tables */

.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th,
.fixed_header td {
    width: 600px;
}

.no-padding {
    padding: 0em !important;
}

.my-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.hr-post {
    margin-left: 7rem !important;
}

.my-center {
    margin: auto !important;
    width: 50% !important;
    padding: 10px !important;
}

.landing {
    margin-top: 4.4em !important;
    margin-bottom: 4.4em !important;
}

.sign-out {
    margin-top: 15em !important;
    margin-bottom: 15em !important;
}

.sign-in {
    margin-top: 4em !important;
    margin-bottom: 4em !important;
}

.not-found {
    margin-top: 6.55em !important;
    margin-bottom: 6.55em !important;
}

footer {
    background-color: black;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
}

.nav {
    padding-top: 5 rem !important;
}
